user_uuid="23e56478-418b-4719-803f-b5952e2d7127"
bucket_name="kbterraformexamace28102024"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=4